*.project
tcc-ufpr-client/.classpath
*.classpath
*.classpath
tcc-ufpr-client/.classpath
tcc-ufpr-client/.classpath
tcc-ufpr-client/.project
tcc-ufpr-domain/.classpath
*.project
*.classpath
tcc-ufpr-client/.settings/org.eclipse.wst.common.component
*.classpath
tcc-ufpr-client/.classpath
*.project
tcc-ufpr-client/.classpath
tcc-ufpr-client/.project
tcc-ufpr-domain/.classpath
tcc-ufpr-client/.classpath
tcc-ufpr-client/.project
tcc-ufpr-domain/.classpath
tcc-ufpr-domain/.project
tcc-ufpr-model/.classpath
tcc-ufpr-client/.project
tcc-ufpr-services/.classpath
tcc-ufpr-model/.settings/org.eclipse.jdt.core.prefs
tcc-ufpr-services/.classpath
tcc-ufpr-client/.settings/org.eclipse.wst.common.project.facet.core.xml
tcc-ufpr-client/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
tcc-ufpr-client/.settings/org.eclipse.wst.common.component
tcc-ufpr-client/.project
tcc-ufpr-client/.classpath
tcc-ufpr-domain/src/main/resources/db.properties